body
{
    background-color: #dbe2ef;
}

hr
{
    border-color:#3f72af;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 4%;
}

h1
{
    color: #3f72af;
}

h2
{
    color: #3f72af;
}

h3
{
    color: #3f72af;
}